node_modules/
.env
dist/
.DS_Store
*.log
backend/uploads/
uploads/resumes/*
uploads/certificates/*
uploads/profiles/*
!uploads/resumes/.gitkeep
!uploads/certificates/.gitkeep
!uploads/profiles/.gitkeep
